<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylesheet.css?version=51">
    <title>LinkTrace</title>
</head>
<body>
    <div id="particles-js"></div>
        <div class="black glow">
            <h1>🔎 LinkTrace 🔍</h1>
            <form action="/result" method="POST" id="mainform" autocomplete="off">
                <input type="search" name="usernameinput" id="searchbar" placeholder="Enter Here">
                    <div class="submitbtn">
                        <button type="submit" id="searchbtn" class="btn">Search</button>
                    </div>
                    <center>
                <img style="visibility: hidden;" src="/static/loadinganimation.gif" alt="" id="loader">
            </center>
            </form>
            
        </div>   
    </div>
    <script src="/static/particles.js"></script>
    <script src="/static/app.js"></script>
    <script src="static/index.js"></script>
</body>
</html>